html {
height: 100%;
}
body {
background-image: linear-gradient(to bottom right, #60F33F, #F1EC4D, #FF77CC, rgb(255, 122, 89));
}
.header {
  border: 1px solid white;
  }

.left {
  text-align: right; column-fill: auto; border: 1px solid white; float: right;
  }

.right {
  text-align: left;column-fill: auto;
  }

  .middle {
    text-align:middle; margin-left: auto;
    }

h1 {
  font-size: 20px;
}
h2 {
  font-size: 15px;
 }
h3 {
  font-size: 110px;
 }
 .news {
   border: 1px solid white;
   }
      .podcasts {
     border: 1px solid white;
     }
 .focus {
       border: 1px solid white;
       }
 .search {
      border: 1px solid white;
         }
.about {
  border: 1px solid white;
  }
.contact {
  border: 1px solid white;
  }
  .support {
    border: 1px solid white;
    }
.mini2 {
text-align:left;
}
.mini1 {
text-align:right;
}
.bottom {
margin-bottom: 50px; column-count: 4
}
